<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 2018. Cours outils de développement intégré. ulysse.rosselet@he-arc.ch
  -->

<Configuration>
  <Appenders>
    <File name="File" fileName="./logger.log">
      <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %C - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="ALL">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>